<div class="container">
  Posts by {{user.username}} ({{posts.length}})
  <div class="row">
    <div class="col-8" id="commentList">
      <div *ngFor="let post of posts;" class="comment">
        by {{user.username}} at {{post.timestamp | date:"y-M-d H:mm:ss"}}
        <p>{{post.comment}}</p>
      </div>
    </div>
    <div class="col-4" id="userData">
      <p>User data: </p>
      <p>Username: {{user.username}}</p>
      <p>Mail: {{user.mail}}</p>
      <p>Name: {{user.name}}</p>
    </div>
  </div>
  <a [routerLink]="'/'">Back</a>
</div>
